* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  text-shadow: #000 1px 1px;
  color: #fff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("assets/bg.webp") no-repeat;
  background-size: cover;
  background-position: center;
}
